/* html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
} */

canvas {
    display: block;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    /* This centers our sketch horizontally. */
    justify-content: center;

    /* This centers our sketch vertically. */
    align-items: center;
}
